
/*Propriétés de la page*/
body{font-family: "Raleway", sans-serif;margin: 0 auto;padding: 9px;align-content: center;max-width: 1024px;}

/*Header*/
nav{display: flex;justify-content: space-between;align-items: center;line-height: 50px;}
    nav img{height: 40px;padding-left: 5px;}
    .menu2{color: #DEEBFF;font-weight: bold;visibility: hidden;}
    nav ul {display: flex;list-style: none;justify-content: space-between;}
            nav li{margin: 0 20px 0 20px;}
                  nav li:hover {border-top: 2px solid #0065FC;}/*survol de la souris*/
                  nav li a { text-decoration: none;font-size: 16px;}
                  .menu1 a:visited {color:#0065FC;font-weight: bold;}/*So lien visité, garde la couleur*/
                  .menu a:visited {color:black;font-weight: normal;}
                  .menu a:hover {color:#0065FC;font-weight: normal;}
            .menu{color: black;font-weight:normal;}
            .menu1{color:#0065FC;font-weight: bold;}

/*Main*/        
/*section 1*/
.section1{margin-bottom: 20px;}
          h1{font-size: 16px;}
          h1 + p{margin-top: -10px;}
          .griser{color: black;font-size: 13px;}
          .griser2{color: black;font-size: 13px;margin-bottom: 30px;}
          .section1 h1 , .section1 h1+p {margin-left : 1%;}
          .chercher{display: flex; margin-left: 1%;}
          .centrer{ background-color: lightgray;width: 30px;text-align: center;border: 2px solid lightgray;border-bottom-left-radius: 10px;border-top-left-radius: 10px;height: 30px; }
          .fa-map-marker{color: black;padding-top: 9px;font-size: 11px;}
          .recherche1{height: 30px;font-size: 14px;border-bottom: 1px solid #F2F2F2;border-top: 1px solid #F2F2F2;border-left: 0px;border-right: 0px;padding-left: 10px;font-weight: bold;}
          .recherche2{height: 34px;font-size: 14px;background-color: #0065FC;color: white;border-bottom-right-radius: 10px;border-top-right-radius: 10px;border-color: #0065FC;border-bottom-color: #0065FC;border-width: 0px;font-weight: bold;}
          .newsearch{display:none;height: 34px;font-size: 14px;background-color: #0065FC;color: white;border-bottom-right-radius: 10px;border-top-right-radius: 10px;border-color: #0065FC;border-bottom-color: #0065FC;border-width: 0px;font-weight: bold;}
          .line{display: flex;align-items: center;margin-top: 5px;margin-left: 1%;}
          h3{font-size: 14px;margin-top: 26px;margin-bottom: 0px; font-weight: 900;}
          .filtre1 {margin-top: 30px;margin-left: 30px;margin-right: 10px;padding: 0px;height: 22px;width: 105px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;}
          .filtre1 div {position: absolute;width: 25px;height: 25px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
          .filtre1 a{text-decoration: none;color: black;font-weight: bold;font-size: 12px;padding-left: 13px;}
          .top { top: -1px;}
          .left { left: -14px; }
          .line a div p{ margin-top: 7px;}
          .fa-money{color:#0065FC;font-size: 13px;}
          .filtre2 {margin-top: 30px;margin-left: 10px;margin-right: 10px;padding: 0px;height: 22px;width: 78px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;}
          .filtre2 div {position: absolute;width: 25px;height: 25px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
          .filtre2 a{text-decoration: none;color: black;font-weight: bold;font-size: 12px;padding-left: 15px;}
          .fa-child{color:#0065FC;font-size: 13px;}
          .filtre3 {margin-top: 30px;margin-left: 10px;margin-right: 10px;padding: 0px;height: 22px;width: 102px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;}
          .filtre3 div {position: absolute;width: 25px;height: 25px;border-radius: 100%; background-color: #87CEEB;text-align: center;}
          .filtre3 a{text-decoration: none;color: black;font-weight: bold;font-size: 12px;padding-left: 14px;}
          .fa-heart{color:#0065FC;font-size: 13px;}
          .filtre4 {margin-top: 30px;margin-left: 10px;margin-right: 20px;padding: 0px;height: 22px;width: 144px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;}
          .filtre4 div {position: absolute;width: 25px;height: 25px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
          .filtre4 a{text-decoration: none;color: black;font-weight: bold;font-size: 12px;padding-left: 14px;}
          .fa-paw{color:#0065FC;font-size: 13px;}     
          .info{display: flex;align-items: center; margin-left: 1%;}
          .fa-info{color:#0065FC;font-size: 13px;}
          .cercle{border: 1px solid lightgray;width: 21px;height: 13px;text-align: center;padding-bottom: 7px;border-radius: 50%;}
          .espaceautre{text-indent: 7px;}


/*section 2*/
.blocs{
    display: flex;
}
.ssbloc1{    
        background-color: #F2F2F2;
        border-radius: 10px;
        padding-left: 10px;
        width: 70%;
}
h2{
    font-size: 14px;
    margin: 13px 0px 5px 0px;
}
.sssbloc1{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
.activ{
        background-color: white;
        border-radius: 15px;
        box-shadow: 6px 6px 10px black;
        height: 200px;
        width: 30%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
}
.photo{
    height: 60%;
}
.photo p {
        margin: 0 1px;
        text-align: center;
        vertical-align: middle;
        padding-top: 6px;
        padding-left: 1px;
        padding-right: 1px;
        height: 100%;
}
.textphoto{
         height: 40%;
         padding-left: 6%;
}
.griser1{
    color: gray;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.fig1{
        height: 100%;
        width: 97%;
        border:0px solid white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover; 
     }
.nonsurligne{
            text-decoration: none;
            color:black;
            font-weight: bold;
            }

.ssbloc2{
         background-color: white;
         width: 3%;
        }
.ssbloc3{
        background-color: #F2F2F2;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 27%;
        }
        .titre2{
                display: flex;
                justify-content: space-between;
                }
                .dimension{
                        width: 70%;    
                        }
                .graphe{
                        width: 6%;
                        }
                .fa-line-chart{
                            padding-top: 16px;
                    }
                .fa-star, .fa-star-o{
                            color:#0065FC; font-size: 12px;;
                    }
                
        .sssbloc3{
                display: flex;
                flex-direction:column;
                justify-content: flex-start;
                align-items: center;
                 }  
                 .activp{
                        background-color: white;
                        border-radius: 15px;
                        box-shadow: 6px 6px 10px black;
                        height: 140px;
                        margin: 22px auto;
                        display: flex;                                           
                            }
                            .fig2{
                                height: 92%;
                                width: 100%;
                                border: 0px solid white;
                                border-top-left-radius: 15px;
                                border-bottom-left-radius: 15px;
                                object-fit: cover;
                                padding-top: 5%;
                                padding-left: 4%;    }
                    .espace{
                        width: 60%;
                        padding-left: 3%;
                    }
                    .espace0{
                        width : 40%;
                    }
  


    




        
/*section 3*/
    
.ActivitesMarseille{
    display: flex;
    height: 300px;
    justify-content: space-between;
}


.activ1{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    /*text-align: center;*/
    height: 100%;
    width: 20%;
}

.activ2{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    /*text-align: center;*/
    height: 45%;
    width: 100%;
    margin: 2px auto;
}

.unespace{
    height: 10%;
}
.fig31{
    height: 83%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
}

.fig30{
    height: 91%;
   /* width: 230px;*/
   width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
}
/*mettre en colonne les deux figures utilisées pour positionner les deux figures dans activités*/
.partiel{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.ActivitesMarseillehidden{display:none;}


.lieux{
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    vertical-align: bottom;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*footer*/
footer{
        background-color: #F2F2F2;
        DISPLAY: FLEX;
        align-content: flex-start;
        padding: 40px;
}            
footer ul {
            list-style: none;
}   
footer ul li{ margin-top: 5px;margin-bottom: 5px;}
.ssfooter{
          font-weight: bold;
          margin-bottom: 30px;    
}
.element3{
         width : 200px;
         padding-left: 200px;
}
.element2{
         padding-left: 200px;
}
.element1{
    padding-left: 0px;
}
.section2{
    margin-bottom: 20px;
}

.section3{
    margin-bottom: 20px;
}




/* Media Queries*/

/*Phones and tablets Portrait and Landscape*/

@media only screen and (min-width: 375px) and (max-width: 1024px) 
 { /*menu de navigation nav*/
    .menu1{display: none;}/*on supprime le bouton s'inscrire*/
    .menu2 {visibility: visible;font-size: 22px;font-weight: bold;}/*on rend visible bouton s'inscrire*/
    .menu2 a {text-decoration: none;}
    nav li a {text-decoration: none;font-size: 21px;}
    .menu{padding-left: 1%;padding-right:1%;font-size: 22px;border-bottom: 1px solid lightgray;margin-right: 0px;margin-left: 0px;width: 50%;text-align: center;border-bottom: 3px solid lightgray; margin-right: 0px; margin-left: 0px;font-weight:500}
    nav {flex-wrap: wrap; justify-content: space-around;}
    nav img { margin-right:50%;}
    nav ul { width: 100%;justify-content: center;padding-left: 0px;}
    nav li:hover {border-top: 0px;border-bottom: 3px solid#0065FC;}
    nav div a:visited {color:#0065FC;font-weight: bold;}
    .menu a:visited {color: black;font-weight: lighter;}
    .menu a:hover {color:#0065FC;}
    .menu a {color: black;}
    /*menu de navigation nav*/
    .recherche2{display:none;}
    .newsearch{ display: block;height: 63px;width: 10%;}
    /*filtre*/
    .line{flex-wrap: wrap; margin-bottom: 5px;margin-left: 3%;}
    h3{font-size: 26px; width:705px;} 
    .chercher{justify-content:flex-start;height: 60px;}
    /*So lien visité, garde la couleur*/
    #activites{margin:0 5%;}
    .filtre4 {margin-top: 30px;margin-left: 0px;padding: 0px;height: 37px;width: 264px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;padding-top: 13px;padding-left: 18px;}
    .filtre1 {margin-top: 30px;margin-left: 0px;padding: 0px;height: 37px;width: 192px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;margin-right: 30px;padding-top: 13px;padding-left: 18px;}
    .filtre2 {margin-top: 30px;margin-left: 0px;padding: 0px;height: 37px;width: 139px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;margin-right: 200px;padding-top: 13px;padding-left: 18px;}
    .filtre3 {margin-top: 30px;margin-left: 0px;padding: 0px;height: 37px;width: 184px;position: relative;border: 1px solid lightgray;border-radius: 0 50px 50px 0;margin-right: 500px;padding-top: 13px;padding-left: 18px;}
    .filtre1 div {position: absolute;width: 53px;height: 53px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
    .filtre2 div {position: absolute;width: 53px;height: 53px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
    .filtre3 div {position: absolute;width: 53px;height: 53px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
    .filtre4 div {position: absolute;width: 53px;height: 53px;border-radius: 100%;background-color: #87CEEB;text-align: center;}
    .top { top: -2px;}
    .left { left: -23px; }
    .line a div p{margin-top: 13px;}
    .line{flex-wrap: wrap;}
    .filtre1 a{text-decoration: none;color: black;font-weight: bold;font-size: 21px;padding-left: 29px;}
    .filtre2 a{text-decoration: none;color: black;font-weight: bold;font-size: 21px;padding-left: 29px;}
    .filtre3 a{text-decoration: none;color: black;font-weight: bold;font-size: 21px;padding-left: 29px;}
    .filtre4 a{text-decoration: none;color: black;font-weight: bold;font-size: 21px;padding-left: 29px;}
    .fa-money{color:#0065FC;font-size: 18px;}
    .fa-heart{color:#0065FC;font-size: 18px;}
    .fa-child{color:#0065FC;font-size: 18px;}
    .fa-paw{color:#0065FC;font-size: 18px;}
    .decaler { margin-left: 3%;font-size: 22px;}
    .lieux{font-size: 20px;margin-left: 3%;}
    .fa-info-circle {margin-bottom: 7px;margin-right: 2px;}
    .ssbloc3{width: 97%;margin:0 auto;}
    .titre2{justify-content: space-between;}
    .ssbloc1{margin: 0 auto; width: 97%; background-color: white;}
    .activ{width: 90%;}
    .ActivitesMarseille{display:none;}
    .activ1{width:88%; margin: 25px auto;}
    h1{ font-size : 24px;}
    h2 {font-size: 20px;margin: 6px 0px 5px 0px;}
    .activ2{margin:0 auto}
    .info{ margin: 20px 1%;}
    .espaceautre {text-indent: 10px;}
    .blocs{flex-direction: column-reverse;}
    footer{ flex-direction: column;}
    .ActivitesMarseillehidden{display:flex; flex-direction: column;}
    .ActivitesMarseillehidden div{ height: 270px;}
    .fig30 {height: 84%;}
    .centrer{width: 80px; height: 100%;}
    .recherche1{height: 100%; font-size: 26px;padding-left: 10%;width:90%}
    .search{ width: 70%;}
    .recherche2{height: 100%; font-size: 26px;}
    .fa-map-marker {color: black;padding-top: 15px;font-size: 22px;}
    .element1, .element2,.element3{padding-left: 0px; margin: 42px 7px; width: 70%;}
    footer ul, footer ul li {font-size: 26px;}
    .griser {color: black;font-size: 20px;}
    .griser2 {color: black;font-size: 20px;}
    nav img{height:72px;padding-right: 40px;}
    .textfiltre{padding-top: 0px;}
    .activp{width: 90%;margin: 22px 10%;}
    .cercle{border: 1px solid lightgray;width: 39px;height: 25px;text-align: center;padding-bottom: 7px;border-radius: 50%;padding-top: 7px;}
    .fig2{padding-top: 2%;padding-left: 2%;}
    .fig1{width: 98%;}
    .textphoto{padding-left:3%;}
    .griser1 {color: black;font-size: 17px;margin-top: 0px;margin-bottom: 1px;}
}
