
/*Propriétés générales*/

body{
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    padding: 9px;
    align-content: center;
    max-width: 1024px;
    
}

/*Header*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}

nav img{
    height: 40px;
    padding-left: 5px;
}

.menu2{

    color: #DEEBFF;
    font-weight: bold;
    visibility: hidden;
    }


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav li{
    margin: 0 20px 0 20px;
}

    /*survol de la souris*/
    nav li:hover {
        border-top: 1px solid;
        color: #0065FC;
    }
    /*So lien visité, garde la couleur*/
    nav li a:visited {
        color:#0065FC;
        font-weight: bold;
    }

    .menu{

        color: #DEEBFF;
        font-weight: bold;
        }

        .menu1{

            color: #DEEBFF;
            font-weight: bold;
            }

            
        /*taille des titres h1 est de 20px*/
h1{
    font-size: 16px;
    }

h2{
    font-size: 12px;
}

#lieux{
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    vertical-align: bottom;
    margin-top: 0px;
    margin-bottom: 0px;
}

.griser{
    color: gray;
    font-size: 13px;
    }

    .griser1{
        color: gray;
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 5px;
        }
/*Header*/

    
h1 + p{
    margin-top: -10px;
}
     
    

    
/*section 1*/


.chercher{
    display: flex; 
    align-content: center;
    height: 30px;
 }
.centrer{
    
    background-color: lightgray;
    width: 30px;
    text-align: center;
    border: 2px solid lightgray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 30px;
    
        
    }


    .fa-map-marker{
        
        color: black;
        padding-top: 9px;
        font-size: 11px;       
    }


    


    .recherche1{
    height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px;
    font-weight: bold;
    }

    .recherche2{
        height: 34px;
        font-size: 14px;
        background-color: #0065FC;
        color: white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-color: #0065FC;
        border-bottom-color: #0065FC;
        border-width: 0px;
        font-weight: bold;
    }

    /*filtres*/

    .filtre4 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 144px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    .filtre1 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 105px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    .filtre2 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 78px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    .filtre3 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 102px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    
    .filtre1 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }

    .filtre2 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }

    .filtre3 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }

    .filtre4 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }
    
    .top { top: -1px;}
    .left { left: -14px; }

.line a div p{
    margin-top: 5px;
}


    .line{
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    h3{
        font-size: 14px;
        margin-top: 26px;
        margin-bottom: 0px;
    }


    .filtre1 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 13px;
    }
    .filtre2 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 15px;
    }
    .filtre3 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 14px;
    }
    .filtre4 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 14px;
    }
    .line div {
        margin-right: 20px;
    }

    .fa-money{
        color:#0065FC;
        font-size: 13px;
    }

    .fa-heart{
        color:#0065FC;
        font-size: 13px;
    }

    .fa-child{
        color:#0065FC;
        font-size: 13px;
    }

    .fa-paw{
        color:#0065FC;
        font-size: 13px;
    }









    .info{
        display: flex;
        align-items: center;
    }
.fa-info-circle{
    color:#87CEEB;
}
.espaceautre{
    text-indent: 7px;
}

.nonsurligne{
    text-decoration: none;
    color:black;
    font-weight: bold;
}


 /*section 2*/
 .photo{
height: 60%;
 }

 .textphoto{
     height: 40%;
     padding-left: 3%;
 }
 .fig1{
    height: 100%;
    width: 97%;
    border:2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
 }
 
 .activ{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    height: 200px;
    width: 30%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
 



.activp{
            background-color: white;
            border-radius: 15px;
            box-shadow: 6px 6px 10px black;
            height: 140px;
            margin: 22px auto;
            display: flex;
        }

.dimension{
    width: 70%;
}
.fig2{
    height: 95%;
    width: 100%;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
            taille du conteneur par object fit donc toutes les images ont la meme taille*/
                }

.espace{
    width: 60%;
    padding-left: 3%;
}

.espace0{
    width : 40%;
}
    
.blocs{
            display: flex;
        }
    
        .ssbloc1{
            
            background-color: #F2F2F2;
            border-radius: 10px;
            padding-left: 10px;
            width: 70%;
        }
    
        .sssbloc1{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    
        .ssbloc3{
            
            background-color: #F2F2F2;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
            width: 27%;
        }
    
        .ssbloc2{
            background-color: white;
            width: 3%;
        }
    
        .sssbloc3{
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: center;
    
        }
        
        .titre2{
            display: flex;
        }

        .graphe{
            width: 9%;
        }


        .fa-line-chart{
            padding-top: 16px;
        }

        .fa-star{
            color:#0065FC;
        }

        .fa-star-o{
            color:#0065FC;
        }




        
/*section 3*/
    
.ActivitesMarseille{
    display: flex;
    height: 300px;
}


.activ1{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    /*text-align: center;*/
    height: 100%;
    width: 20%;
    margin: 2px auto;
}

.activ2{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    /*text-align: center;*/
    height: 45%;
    width: 100%
    margin: 2px auto;
}

.unespace{
    height: 10%;
}
.fig31{
    height: 83%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
}

.fig30{
    height: 91%;
   /* width: 230px;*/
   width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
}
/*mettre en colonne les deux figures utilisées pour positionner les deux figures dans activités*/
.partiel{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.ActivitesMarseillehidden{display:none;}





/*footer*/
                footer{
                    background-color: #F2F2F2;
                    DISPLAY: FLEX;
                    align-content: flex-start;
                }
            
                footer ul {
                    list-style: none;
                }
            
                .ssfooter{
                    font-weight: bold;
                    margin-bottom: 30px;
                    
                }
            
                .element3{
                    width : 200px;
                    padding-left: 200px;
                }
            
                .element2{
                    padding-left: 200px;
                }
        

.section1{
    margin-bottom: 20px;
}

.section2{
    margin-bottom: 20px;
}

.section3{
    margin-bottom: 20px;
}

/* Media Queries*/

/*Phones Portrait and Landscape*/

@media only screen 
and (min-width: 375px) 
and (max-width: 1024px) 
 { /*menu de navigation nav*/
    .menu1{display: none;}
    .menu2 {visibility: visible;
    font-size: 28px;}
    .menu2 a {text-decoration: none;}
    nav li a {text-decoration: none;}
    .menu{padding-left: 1%;padding-right:1%;font-size: 28px;border-bottom: 1px solid lightgray;
        margin-right: 0px;
        margin-left: 0px;
        width: 50%;
        text-align: center;
    }

    nav {flex-wrap: wrap; justify-content: space-around;}
    nav ul { width: 100%;
             justify-content: center;
             padding-left: 0px;}

    nav li:hover {
        border-top: 0px;
        border-bottom: 1px solid;
        color: #0065FC;}
    .menu{border-bottom: 1px solid lightgray; margin-right: 0px; margin-left: 0px;}

/*filtre*/
    .line{flex-wrap: wrap;justify-content:space-between; padding: 0 13%; margin-bottom: 5px;}
    .chercher{justify-content: center;}
    /*So lien visité, garde la couleur*/

    
    nav div a:visited {
        color:#0065FC;
        font-weight: bold;}

#activites{margin:0 18%;}

.line:first-child{width:10%;} 
    .filtre2,.filtre1, .filtre3, .filtre4 { margin-left: 1%;}

.line div { margin-right:5%;}
    .filtre3{ width: 100px;}

#lieux{font-size: 26px;}
    .fa-info-circle {
        margin-bottom: 7px;
        margin-right: 2px;}

    .ssbloc3{width: 70%;margin:0 auto;}

    .titre2{justify-content: space-between;}

    .ssbloc1{margin: 0 auto;}

    .activ{width: 92%;}

    .ActivitesMarseille{display:none;}

    .activ1{width:65%; margin: 25px auto;}

    h1{ font-size : 26px;}

    .activ2{margin:0 auto}

    .info{ margin: 0 13%;}

    .espaceautre {text-indent: 0px;}

    .blocs{flex-direction: column-reverse;}


    footer{ flex-direction: column;}

    .ActivitesMarseillehidden{display:flex; flex-direction: column;}

    .ActivitesMarseillehidden div{ height: 270px;}

    .fig30 {
        height: 84%;
  }

.section1 h1 , .section1 h1+p {
    margin-left : 18%;
}

.chercher{height: 60px;}

.centrer{width: 80px; height: 100%;}

.recherche1{height: 100%; font-size: 26px;}

.recherche2{height: 100%; font-size: 26px;}

.fa-map-marker {
    color: black;
    padding-top: 15px;
    font-size: 22px;}

.element1, .element2,.element3{padding-left: 0px; margin: 20px auto; width: 89%;}


footer{ margin: 0 17%;}

footer ul, footer ul li {font-size: 26px;}

.griser {
    color: gray;
    font-size: 26px;}

nav img{
    height:72px;
    padding-right: 40px;
}


/* Tablets Portrait and landscape similar to phones et doit on rajouter (-webkit-min-device-pixel-ratio: 2) ? ou pas ?*/
}
