
/*Propriétés générales*/

body{
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    padding: 9px;
    align-content: center;
    max-width: 1024px;
    
}

/*Header*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}

nav img{
    height: 40px;
    padding-left: 5px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav li{
    margin: 0 20px 0 20px;
}

    /*survol de la souris*/
    nav li:hover {
        border-top: 1px solid;
        color: #0065FC;
    }
    /*So lien visité, garde la couleur*/
    nav li a:visited {
        color:#0065FC;
        font-weight: bold;
    }

    .menu{

        color: #DEEBFF;
        font-weight: bold;
        }

        .menu1{

            color: #DEEBFF;
            font-weight: bold;
            }

            .menu2{

                color: #DEEBFF;
                font-weight: bold;
                visibility: hidden;
                }
        /*taille des titres h1 est de 20px*/
h1{
    font-size: 16px;
    }

h2{
    font-size: 15px;
}

.griser{
    color: gray;
    font-size: 13px;
    }
/*Header*/

    
h1 + p{
    margin-top: -10px;
}
     
    

    
/*section 1*/


.chercher{
    display: flex; 
    align-content: center;
    height: 30px;
 }
.centrer{
    
    background-color: lightgray;
    width: 30px;
    text-align: center;
    border: 2px solid lightgray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 30px;
    
        
    }


    .fa-map-marker{
        
        color: black;
        padding-top: 9px;
        font-size: 11px;       
    }


    


    .recherche1{
    height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px;
    font-weight: bold;
    }

    .recherche2{
        height: 34px;
        font-size: 14px;
        background-color: #0065FC;
        color: white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-color: #0065FC;
        border-bottom-color: #0065FC;
        border-width: 0px;
        font-weight: bold;
    }

    /*filtres*/

    .filtre4 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 144px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    .filtre1 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 105px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    .filtre2 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 78px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    .filtre3 {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        height: 22px;
        width: 102px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 0 50px 50px 0;
    }
    
    .filtre1 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }

    .filtre2 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }

    .filtre3 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }

    .filtre4 div {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-color: #87CEEB;
        text-align: center;
        
    }
    
    .top { top: -1px;}
    .left { left: -14px; }

.line a div p{
    margin-top: 5px;
}


    .line{
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    h3{
        font-size: 14px;
        margin-top: 26px;
        margin-bottom: 0px;
    }


    .filtre1 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 13px;
    }
    .filtre2 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 15px;
    }
    .filtre3 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 14px;
    }
    .filtre4 a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding-left: 14px;
    }
    .line div {
        margin-right: 20px;
    }

    .fa-money{
        color:#0065FC;
        font-size: 13px;
    }

    .fa-heart{
        color:#0065FC;
        font-size: 13px;
    }

    .fa-child{
        color:#0065FC;
        font-size: 13px;
    }

    .fa-paw{
        color:#0065FC;
        font-size: 13px;
    }









    .info{
        display: flex;
        align-items: center;
    }
.fa-info-circle{
    color:#87CEEB;
}
.espaceautre{
    text-indent: 7px;
}

.nonsurligne{
    text-decoration: none;
    color:black;
    font-weight: bold;
}


 /*section 2*/
 .fig1{
    height: 50%;
    width: 200px;
    border:2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
 }
 
 .activ{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    text-align: center;
    height: 200px;
    margin: 2px auto;
}
 



.activp{
            background-color: white;
            border-radius: 15px;
            box-shadow: 6px 6px 10px black;
            text-align: center;
            height: 140px;
            margin: 2px auto;
            display: flex;
        }
.fig2{
    height: 95%;
    width: 160px;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
            taille du conteneur par object fit donc toutes les images ont la meme taille*/
                }

.espace{
    width: 150px;
}
    
.blocs{
            display: flex;
        }
    
        .ssbloc1{
            
            background-color: #F2F2F2;
            border-radius: 10px;
            padding-left: 10px;
        }
    
        .sssbloc1{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    
        .ssbloc3{
            
            background-color: #F2F2F2;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        .ssbloc2{
            background-color: white;
            width: 30px;
        }
    
        .sssbloc3{
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: center;
    
        }
        
        .titre2{
            display: flex;
        }

        .graphe{
            width: 120px;
        }


        .fa-line-chart{
            padding-top: 16px;
            padding-left: 144px;
        }

        .fa-star{
            color:#0065FC;
        }

        .fa-star-o{
            color:#0065FC;
        }




        
/*section 3*/
    
.ActivitesMarseille{
    display: flex;
}


.activ1{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    text-align: center;
    height: 300px;
    margin: 2px auto;
}

.activ2{
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 10px black;
    text-align: center;
    height: 147px;
    margin: 2px auto;
}
.fig31{
    height: 65%;
    width: 230px;
    border:2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /*les images de la classe figact1 ont une taille de 100px avec une largeur de 200px et ils sont adaptés à la 
    taille du conteneur par object fit donc toutes les images ont la meme taille*/
}
/*mettre en colonne les deux figures utilisées pour positionner les deux figures dans activités*/
.partiel{
    display: flex;
    flex-direction: column;
}







/*footer*/
                footer{
                    background-color: #F2F2F2;
                    DISPLAY: FLEX;
                    align-content: flex-start;
                }
            
                footer ul {
                    list-style: none;
                }
            
                .ssfooter{
                    font-weight: bold;
                    margin-bottom: 30px;
                    
                }
            
                .element3{
                    width : 200px;
                    padding-left: 200px;
                }
            
                .element2{
                    padding-left: 200px;
                }
        

/* Media Queries*/

/*Phones Portrait and Landscape*/
@media only screen 
and (min-width: 375px) 
and (max-width: 767px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .menu1{display: none;}
    .menu2 {visibility: visible;}
    .menu2 a {text-decoration: none;}
    nav {
        flex-wrap: wrap;
    }
    nav li:hover {
        border-top: 0px;
        border-bottom: 1px solid;
        color: #0065FC;
    }
    /*So lien visité, garde la couleur*/
    nav div a:visited {
        color:#0065FC;
        font-weight: bold;}

    nav ul li a {
        text-decoration: underline;
        text-decoration:#F2F2F2;
    }

    .filtre1, .filtre3, .filtre4 { margin-left: 8px;}
    .filtre3{ width: 150px;}
    .line{flex-wrap: wrap;}

    .line div h3 { width : 300px;}

    .info{ margin-top: 5px;}

    .fa-info-circle{ margin-bottom: 15px;
        margin-right: 2px;}

    .espaceautre {text-indent: 0px;}

    .blocs{flex-direction: column-reverse;}

    .ActivitesMarseille{ flex-direction: column;}

    footer{ flex-direction: column;}

    .element3{
        width : 200px;
        padding-left: 200px;
    }

    .element2{
        padding-left: 200px;
    }
  }



/* Tablets Portrait similar to phones*/
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .menu1{display: none;}
    .menu2 {visibility: visible;}
    .menu2 a {text-decoration: none;}
    nav {
        flex-wrap: wrap;
    }
    nav li:hover {
        border-top: 0px;
        border-bottom: 1px solid;
        color: #0065FC;
    }
    /*So lien visité, garde la couleur*/
    nav div a:visited {
        color:#0065FC;
        font-weight: bold;}

    nav ul li a {
        text-decoration: underline;
        text-decoration:#F2F2F2;
    }

    .filtre1, .filtre3, .filtre4 { margin-left: 8px;}
    .filtre3{ width: 150px;}
    .line{flex-wrap: wrap;}

    .line div h3 { width : 300px;}

    .info{ margin-top: 5px;}

    .fa-info-circle{ margin-bottom: 15px;
        margin-right: 2px;}

    .espaceautre {text-indent: 0px;}

    .blocs{flex-direction: column-reverse;}

    .ActivitesMarseille{ flex-direction: column;}

    footer{ flex-direction: column;}

    .element3{
        width : 200px;
        padding-left: 200px;
    }

    .element2{
        padding-left: 200px;
    }
}